*{
    --header-height: 6rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-padding-top: var(--header-height);
  }
  
  body{
      background-color: #504E4E;
      width: 90%; 
      margin: 0 auto;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 1.2rem;
      color: white;
  }
  .row-header{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 0.5rem;
      border-bottom: 2px solid #636161;
  }
  .burgerMenu{
      margin-top: 1.5rem;
      z-index: 1;
  }
  .burgerCheck {
    width: 2rem;
    height: 2rem;
    display: flex;
    z-index: 2;
    position: absolute;
    top: 1.2rem;
    left: 22.5rem;
    opacity: 0;
    cursor: pointer;
}
.balanceField{
    display: block;
    margin-top: 2rem;
}
.balanceField fieldset{
    margin-top: 1rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
    max-width: 8rem;
    border: none;
    font-size: 1.5rem;
}
.myAssetsChart p{
    margin-top: 3rem;
    padding-top: 0.5rem;
    border-top: 1px solid #636161;
}
.assetsField p{
    margin-top: 2rem;
    border-top: 1px solid #636161;
    padding-top: 0.5rem;
}
footer {
    text-align: right;
    margin: 2rem 1rem;
}

.menu-items {
    padding-top: 10rem;
    background-color: #252526;
    height: 100%;
    /* max-width: 20rem; */
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0.3rem 0 0.8rem 0 #48484b;
    gap: 3rem;
  }
  .slidemenu input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
  }
  .slidemenu input[type="checkbox"]:checked~.burgerMenu {
    transform: rotate(90deg);
  }
  .slidemenu i {
    transition: transform 0.6s ease-in-out;
  }
  
  
.menu-items li{
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
    padding-left: 1.5rem;
    list-style-type: none;
  }

.menu-items a{
    color: white;
    text-decoration: none;
}

.balanceField h2{
    z-index: -1;
}

.slidemenu{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.slidemenu i{
    position: absolute;
    top: 0.7rem;
    left: 22.4rem;
}
