body,
html {
  --header-height: 6rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-padding-top: var(--header-height);
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  background-color: #252526;
  color: white;
}

.navbar-container input[type="checkbox"],
.navbar-container .hamburger-lines {
  display: block;
  cursor: pointer;
}

.navbar-container {
  display: block;
  position: fixed;
  height: var(--header-height)  ;
  background-color: #252526;
  width: 100%;
  border-bottom: 1px solid rgb(31, 31, 31);
}

.navbar-container input[type="checkbox"] {
  position: fixed;
  display: block;
  height: 2rem;
  width: 2rem;
  top: 2rem;
  right: 1.2rem;
  z-index: 5;
  opacity: 0;
}

.navbar-container .hamburger-lines {
  display: block;
  height: 1.5rem;
  width: 2.2rem;
  position: fixed;
  top: 2.5rem;
  right: 1.2rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-container .hamburger-lines .line {
  display: block;
  height: 0.25rem;
  width: 90%;
  border-radius: 1rem;
  background: white;
}

.navbar-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.navbar-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.navbar-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
.menu-items a:hover {
  color: rgb(182, 140, 35);
  transition: color 0.3s ease-in-out;
}
.navbar{
  z-index: 1;
}
.navbar .menu-items {
  padding-top: 7rem;
  background-color: #252526;
  height: 16rem;
  max-width: 20rem;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  margin-left: -3rem;
  padding-left: 2.2rem;
  transition: transform 0.5s ease-in-out;
  box-shadow: 0.3rem 0 0.8rem 0 #48484b;
  gap: 0.5rem;
}

.navbar .menu-items li {
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  padding-left: 1.5rem;
}

.logo {
  position: fixed;
  top: 0.5rem;
  left: 2rem;
  font-size: 2rem;
}

.navbar-container input[type="checkbox"]:checked~.menu-items {
  transform: translateX(0);
}

.navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
  transform: rotate(43deg);
}

.navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
  transform: scaleY(0);
}

.navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
  transform: rotate(-43deg);
}

fieldset {
  border: none;
  width: 7rem;
  height: 2rem;
  font-size: 2rem;
}

.balanceField {
  margin-left: 0.5rem;
  margin-top: 8rem;
  margin-bottom: 3rem;
}

h2 {
  margin-left: 0.5rem;
  margin-bottom: -0.5rem;
}

footer {
  text-align: right;
  margin: 2rem 1rem;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.icon {
  color: rgb(182, 140, 35);
}

td {
  padding: 3rem 2rem 3rem 2rem;
}

table {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.anchorPosition {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
}

.fa-eye {
  position: absolute;
  left: 8.5rem;
  top: 8.2rem;
  cursor: pointer;
  color: rgb(129, 128, 128)
}



/******* MEDIA QUERIES **********/



@media (min-width: 810px) {
  body {
    font-size: 1.2rem;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
    cursor: pointer;
  }

  .navbar-container {
    display: block;
    position: fixed;
    height: 6rem;
    background-color: #252526;
    width: 90%;
    left: 2rem;
  }

  .navbar-container input[type="checkbox"] {
    position: fixed;
    display: block;
    height: 2rem;
    width: 2rem;
    top: 2rem;
    right: 5rem;
    z-index: 5;
    opacity: 0;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 1.5rem;
    width: 2.2rem;
    position: fixed;
    top: 2.5rem;
    right: 5rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 0.25rem;
    width: 90%;
    border-radius: 1rem;
    background: white;
  }

  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 7rem;
    background-color: #252526;
    height: 14rem;
    max-width: 18rem;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -3rem;
    padding-left: 3rem;
    transition: transform 0.5s ease-in-out;
    box-shadow: 0.3rem 0 0.8rem 0 #48484b;
    gap: 0.5rem;
  }

  .navbar .menu-items li {
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 500;
    list-style: none;
    padding-left: 1rem;
  }
  .menu-items a:hover {
    color: rgb(182, 140, 35);
    transition: color 0.3s ease-in-out;
  }

  .logo {
    left: 3rem;
  }

  td {
    padding: 4rem 4rem 4rem 4rem;
  }

  h2, .balanceField{
    margin-left: 3rem;
  }

  .fa-eye {
    position: absolute;
    left: 11rem;
    top: 8.2rem;
  }

  .navbar-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(43deg);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-43deg);
  }
}

@media (min-width: 1000px) {
  body {
    width: 90%;
  }

  .navbar input[type="checkbox"],
  .navbar .hamburger-lines {
    display: none;
  }
  .navbar-container {
    height: 6rem;
    width: 94%;
  }
  .navbar .menu-items{
    position: absolute;
    right: -19rem;
    top: -6.5rem;
    box-shadow: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    height: 0;
  }
  .menu-items a {
    text-decoration: none;
    transition: color 0.3s ease-in-out; 
  }

  .menu-items a:hover {
    color: rgb(182, 140, 35);
    transition: color 0.3s ease-in-out;
  }

  .logo {
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
  }

  fieldset {
    border: none;
    width: 7rem;
    height: 2rem;
    font-size: 2rem;
  }

  .balanceField {
    margin-left: 0.5rem;
    margin-top: 8rem;
    margin-bottom: 3rem;
  }

  h2 {
    margin-left: 0.5rem;
    margin-bottom: -0.5rem;
  }

  footer {
    text-align: right;
    margin: 2rem 1rem;
  }


  .icon {
    color: rgb(182, 140, 35);
  }

  td {
    padding: 5rem 5rem 5rem 5rem;
  }
  
  table {
    font-size: 1.5rem;
    margin-left: 2rem;
  }
  .balanceField {
    margin-left: 3rem;
  }
  h2 {
    margin-left: 3rem;
  }

  .anchorPosition {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
  }

  .fa-eye {
    position: absolute;
    left: 15rem;
    top: 8.2rem;
  }
}

@media (min-width: 1081px) {
  .fa-eye {
    position: absolute;
    left: 23rem;
    top: 8.2rem;
  }
  td {
    padding: 5rem 10rem 5rem 10rem;
  }
}