* {
  --header-height: 6rem;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-padding-top: var(--header-height);
}

body {
  background-color: #504E4E;
  /* width: 90%;  */
  margin: 0 auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2rem;
  color: white;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.row-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0.5rem;
  border-bottom: 2px solid #636161;
}

form {
  margin-top: 10rem;
}

input {
  width: 12.5rem;
  height: 3rem;
  border-radius: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row+.row {
  margin-top: 1.5rem;
}

.column {
  flex: 1 0 0%;
  flex-direction: column;
  display: flex;
}

.column-span-3 {
  margin-left: 5.45rem;
}

.inputField .emailField {
  margin-top: 10rem;
}

.inputField .pswField {
  margin-top: 1.5rem;
}

.signInBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signInBtn button {
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #17AD13;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.1rem;
  margin-top: 1rem;
}

footer {
  text-align: right;
  margin: 2rem 1rem;
}
.container{
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
.row{
  display: flex;
  flex-wrap: wrap;  
}
.column {
  display: flex;
  flex-direction: column;
  
}
.column-center{
  align-items: center; 
}